{% extends 'core/base.html' %}
{% block content %}
<div class=' container mt-5'>
    <h1 class='text-warning mb-5'>SERVICES</h1>
    <h1 class='border-bottom mb-5'></h1>
    
    <div class='row text-center text-white mb-5'>
        <div class="col-sm-4">
            <i class="fa-solid fa-magnifying-glass fa-bounce fa-2x mb-3 i-color"></i>
            <h3>SEO</h3>
            <p class="ss-color">We'll deliver you detailed benchmark reports with existing 
                keyword rankings and historical,organic search traffic and help you boost your rankings.
            </p>
        </div>
        <div class="col-sm-4">
            <i class="fa-brands fa-connectdevelop fa-bounce fa-2x mb-3 i-color"></i>
            <h3>Web Development</h3>
            <p class="ss-color">Aims to work with small businesses
                 and marginalized communities to bring their passions to life.
                 I offer both design and development services of web applications or websites!
            </p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-laptop-code fa-bounce fa-2x mb-3 i-color"></i>
            <h3>Coding Lessons</h3>
            <p class="ss-color">Provide with appropriate in-person and virtual lessons of
                Coding. Enhance and illustrate the course material with appropriate 
                real-world examples.</p>
        </div>
    </div>
    
    
    
    <div class='row text-center text-white mb-5'>
        <div class="col-sm-4 mb-3">
            <i class="fa-brands fa-elementor fa-bounce fa-2x mb-3 i-color"></i>
            <h3>Embedded Systems</h3>
            <p class="ss-color"> From Project guidance for final year engineering grads to making automation projects for general purpose, 
                providing solution with embedded systems.
            </p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-paintbrush fa-bounce fa-2x mb-3 i-color"></i>
            <h3>Logo Design</h3>
            <p class="ss-color">Create graphical and typographical symbols that represent 
                a company or product in presentations and on websites and packaging.
            </p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-cog fa-bounce fa-2x mb-3 i-color"></i>
            <h3>Support</h3>
            <p class="ss-color">Provide technical support to maintain the organization's requirement, 
                 ensure optimal performance so that end users can maintain a high level of productivity. 
            </p>
        </div>
    </div>
    <h1 class='border-bottom'></h1>
</div>
{% endblock content %}