{% extends "core/base.html" %}
{% block content %}
<div class=' container mt-5'>
    <h1 class='text-warning mb-5'>SKILLS</h1>
    <h1 class='border-bottom mb-4'></h1>
    <div class='row test-white'>
        <div class='col-sm-5'>
            <h4 class='mt-=5 text-white'>HTML/CSS<i class="fa-brands fa-html5 i-color fa-lg mx-3
                fa-flip" style="--fa-animation-duration: 3s;" ></i></h4>  
            <div class='progress'>
                <div class="progress-bar progress-bar-striped progress-bar-animated"
                role='progressbar' 
                style='width:65%' area-valuenow='100' area-valuemin='100'
                area-valuemax='100'>65</div>
            </div>
        </div>
        <div class='col-sm-5 offset-sm-1'>
            <h4 class='mt-=5 text-white'>Python<i class="fa-brands fa-python i-color fa-lg mx-3
                fa-flip" style="--fa-animation-duration: 3s;" ></i></h4>  
            <div class='progress'>
                <div class="progress-bar progress-bar-striped progress-bar-animated"
                role='progressbar' 
                style='width:90%' area-valuenow='100' area-valuemin='100'
                area-valuemax='100'>90</div>
            </div>
        </div>
    </div>
    <div class='row test-white mt-5'>
        <div class='col-sm-5'>
            <h4 class='mt-=5 text-white'>JavaScript<i class="fa-brands fa-js i-color fa-lg mx-3
                fa-flip" style="--fa-animation-duration: 3s;" ></i></h4>  
            <div class='progress'>
                <div class="progress-bar progress-bar-striped progress-bar-animated"
                role='progressbar' 
                style='width:65%' area-valuenow='100' area-valuemin='100'
                area-valuemax='100'>65</div>
            </div>
        </div>
        <div class='col-sm-5 offset-sm-1'>
            <h4 class='mt-=5 text-white'>Django<i class="fa-solid fa-code i-color fa-lg mx-3
                fa-flip" style="--fa-animation-duration: 3s;" ></i></h4>  
            <div class='progress'>
                <div class="progress-bar progress-bar-striped progress-bar-animated"
                role='progressbar' 
                style='width:85%' area-valuenow='100' area-valuemin='100'
                area-valuemax='100'>85</div>
            </div>
        </div>
    </div>
    <div class='row test-white mt-5'>
        <div class='col-sm-5'>
            <h4 class='mt-=5 text-white'>SQL<i class="fa-solid fa-database i-color fa-lg mx-3
                fa-flip" style="--fa-animation-duration: 3s;" ></i></h4>  
            <div class='progress'>
                <div class="progress-bar progress-bar-striped progress-bar-animated"
                role='progressbar' 
                style='width:80%' area-valuenow='100' area-valuemin='100'
                area-valuemax='100'>80</div>
            </div>
        </div>
        <div class='col-sm-5 offset-sm-1'>
            <h4 class='mt-=5 text-white'>Embedded Systems<i class="fa-solid fa-microchip i-color fa-lg mx-3
                fa-flip" style="--fa-animation-duration: 3s;" ></i></h4>  
            <div class='progress'>
                <div class="progress-bar progress-bar-striped progress-bar-animated"
                role='progressbar' 
                style='width:75%' area-valuenow='100' area-valuemin='100'
                area-valuemax='100'>75</div>
            </div>
        </div>
    </div>
    <div class='row test-white mt-5'>
        <div class='col-sm-5'>
            <h4 class='mt-=5 text-white'>Computer Networking<i class="fa-solid fa-network-wired i-color fa-lg mx-3
                fa-flip" style="--fa-animation-duration: 3s;" ></i></h4>  
            <div class='progress'>
                <div class="progress-bar progress-bar-striped progress-bar-animated"
                role='progressbar' 
                style='width:75%' area-valuenow='100' area-valuemin='100'
                area-valuemax='100'>75</div>
            </div>
        </div>
        <div class='col-sm-5 offset-sm-1'>
            <h4 class='mt-=5 text-white'>GIT/GIThub<i class="fa-brands fa-github i-color fa-lg mx-3
                fa-flip" style="--fa-animation-duration: 3s;" ></i></h4>  
            <div class='progress'>
                <div class="progress-bar progress-bar-striped progress-bar-animated"
                role='progressbar' 
                style='width:85%' area-valuenow='100' area-valuemin='100'
                area-valuemax='100'>85</div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
